/* Artist Section styles */
.artist-section {
    text-align: center;
    padding: 65px 0;
   
  }
  
  .artist-section h2 {
    font-family: 'Outfit';
    font-size: 35px;
    color: #646464;
    font-weight: 500;
    letter-spacing: 0.09rem;
  }
  
  .artist-cards {
    background-color:transparent;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 52px ;
  }
  
  .artist-card {
    text-align: center;
    padding-bottom: 44px;
    max-width: 175px;
    
  }
  
  .artist-card img {
    border-radius: 10px;
    width: 175px;
    height: 175px;
    transition: .3s ease-in-out;
    
  }
  .artist-card img:hover{
     transform: translateY(-5%);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  }
  .artist-card p {
    margin-top: 10px;
    color: #3c4f77;
    font-size: 18px;
  }
  
  /* Content Section styles */
  .content-section {
    padding: 50px;
    /* background-color: #ffffff; */
  }
  
  .content-item {
    margin-bottom: 50px;
  }
  
  .content-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #281836;
  }
  
  .content-item p {
    color: #000000ad;
    font-size: 18px;
  }
  
  .content-item button {
    background: linear-gradient(136.24deg, rgba(134, 168, 207, 1) 9.94%, rgba(120, 139, 172, 1) 98.71%);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
   
  }

  @media screen and (max-width: 480px) {
    .content-section {
      padding: 50px;
      /* position: relative; */
      /* background-color: #ffffff; */
      /* width: 602px; */
      text-align: center;
    }
    .content-item p {
      color: #000000ad;
      font-size: 18px;
      text-align: center;
    }
    .artist-card img {
      border-radius: 10px;
      width: 160px;
      height: 160px;
  }
  .artist-card {
    text-align: center;
    padding-bottom: 25px;
    max-width: 160px;
}
.artist-section h2 {
  font-family: 'Outfit';
  font-size: 30px;
  color: #646464;
  font-weight: 500;
  letter-spacing: 0.09rem;
}
.artist-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 0px;
  flex-wrap: wrap;
  padding: 40px 0;
  margin-top: 6px;
}
  }




