@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: Outfit; */
  /* font-family: "Prata", system-ui; */
  /* overflow-y: scroll; */
}
.leading-relaxed {
 
  /* font-family: "Prata", system-ui; */
}

::-webkit-scrollbar{
  display: none;
}

/* @font-face {
  font-family: 'Against';
  src: url('./assets/fonts/against_regular.woff2') format('woff2'),
       url('./assets/fonts/against_regular.woff') format('woff'),
       url('./assets/fonts/against_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'against';
  src: url('src\\assets\\fonts\\against-Regular.woff2') format('woff2'),
       url('src\\assets\\fonts\\against-Regular.woff') format('woff'),
       url('/assets/fonts/against regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  
}

@font-face {
  font-family: 'Vilaka Font Demo Version';
 
  src:
      url('src\\assets\\fonts\\Vilaka-Regular.woff2') format('woff2'),
      url('src\\assets\\fonts\\Vilaka-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ::-webkit-scrollbar{

  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: rgb(24 24 29);
}
::-webkit-scrollbar-thumb{
  background: #fff;
  border:5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
} */